@model ProyectoHotelNT1.Models.Habitaciones

@{
    ViewData["Title"] = "Crear";
}

@if (ViewBag.habitacionExiste != null)
{
    <script>
        @Html.Raw(ViewBag.habitacionExiste)
    </script>
}

<h2>Crear nueva habitacion</h2>
<hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NroHabitacion" class="control-label">Nro. habitacion</label>
                    <input asp-for="NroHabitacion" class="form-control" />
                    <span asp-validation-for="NroHabitacion" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PrecioPorDia" class="control-label">Precio por dia</label>
                    <input asp-for="PrecioPorDia" class="form-control" />
                    <span asp-validation-for="PrecioPorDia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CapacidadMax" class="control-label"> Capacidad maxima</label>
                    <input asp-for="CapacidadMax" class="form-control" />
                    <span asp-validation-for="CapacidadMax" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>


<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


